In [1]:
#Add Matplotlib inline command
%matplotlib inline

#Dependancies and setup
import matplotlib.pyplot as plt
import pandas as pd

#Files to load
#Load the data
city_data_df = pd.read_csv("resources/city_data.csv")
#This data has three columns. "city" = city name in string format, "driver_count" = numbers of drivers, "type" appears to be either Urban, Suburban, or Rural
ride_data_df = pd.read_csv("resources/ride_data.csv")
#This data file has four columns. "city" = city name, "date" in YEAR-MO-DA HO:MI:SE format, "fare" in XX.XX and ride_id a series of 12-13 digits

In [2]:
#Get the number of columns that is not null
city_data_df.count()
#Get the number of coluums that are null
city_data_df.isnull().sum()

#Get the unique values of the type of city
city_data_df["type"].unique()

#Get the data types of each column
city_data_df.dtypes

#Get the number of data points for each city type
sum(city_data_df["type"]=="Urban")
sum(city_data_df["type"]=="Suburban")
sum(city_data_df["type"]=="Rural")

city            0
driver_count    0
type            0
dtype: int64

In [11]:
#Get the number of columns that are not null
ride_data_df.count()
# Number of null values
ride_data_df.isnull().sum()

#Data types in file
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [12]:
#Merge the data!
pyber_data_df = pd.merge(ride_data_df, city_data_df, how = "left", on = ["city", "city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban